body {
    background-color: cadetblue;
}

.div {
    text-align: center;
}
.profImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto; 
    margin-top: 20px;
}